@import url(https://fonts.googleapis.com/css?family=Amaranth:regular,italic,700,700italic);

:root {
    --cor01: #BF7636;
    --cor02: #F2B988;
    --cor03: #40291C;
    --cor04: #8C5845;
    --cor05: #D9C1BF;
    --cor06: #ffffff;
    --cor07: #965141;

    --font-padrao: 'Amaranth', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#body-cursos {overflow-x: hidden;}
body {overflow-x: hidden;}

.header {
    height: 130px; width: 100vw;
    background: var(--cor01);
    display: flex; align-items: center; justify-content: space-between;
    padding: 0 3rem;
}
.header a {
    text-decoration: none;
    list-style: none;
    font-family: var(--font-padrao);
    color: var(--cor03);
    transition: .6s ease;
}

.header a:hover {
    color: var(--cor04);
}

.logo {font-size: 2rem;}

.menu {
    display: flex;
    gap: .7rem;
    font-size: 1.4rem;
}

#bnt-mobile {
    display: none;
    color: var(--cor03);
    font-size: 1.8rem;
    cursor: pointer;
}

/*Responsividade do botão mobile*/

@media screen and (max-width: 678px) {
    .menu {
        display: none;
    }
    #bnt-mobile {
        display: block;
    }
}

.faixa-header {
    height: 35px; width: 100vw;
    background-color: var(--cor03);
    display: flex; justify-content: flex-end; align-items: center;
    padding: 0 3rem;
    gap: 5rem;
}

#busca {
    border-radius: 5px;
    border: 0; padding: .2rem;
    background: var(--cor05); outline: 0;
}
#busca:focus {
    background: var(--cor06);
}

.sociais-header {
    color: var(--cor05);
    display: flex;
    gap: 1rem; font-size: 1.3rem;
    cursor: pointer; transition: .6s ease;
}
.sociais-header i:hover {
    color: var(--cor06);
}

/*Carrossel de imagens*/

#carrossel {
    height: 80vh; width: 100vw;
    background: var(--cor06);
    display: flex; justify-content: center;
}

.conteiner-imagens {
    margin: 1rem auto;
    width: 1000px; height: 450px;
    overflow: hidden;
    border-radius: 200px 0px 100px 0px;
    box-shadow: 10px 8px 12px #00000083;
}

.conteiner-imagens img {
    width: 1000px; height: 450px;
}

.conteiner-imagens ul {
    list-style: none;
    display: flex;
    width: 1200px; height: 450px;
}

.conteiner-imagens li {
    position: relative;
    animation: slide 15s infinite ease-out;
}

@keyframes slide {
    0% {left: 0px}
    20%{left: 0px}

    30% {left: -1000px}
    50% {left: -1000px}

    60% {left: -2000px}
    90% {left: -2000px}

    100% {left: 0px}
}

/*Sobre*/

.sobre {
    width: 100vw; height: 100vh;
    background: var(--cor03);
    display: flex; flex-direction: column;
    padding-bottom: 2rem;
}

.titulo {
    font-family: var(--font-padrao); font-size: 1.5rem;
    color: var(--cor05); margin: 2rem 0 0 2rem;
}

.conteiner-texto-imagem {
    display: flex;
    height: 60%;
    margin-bottom: 2rem;
}

.texto {
    height: 100%; width: 50%;
    display: flex; align-items: center;
    padding: 0 1.5rem;
    font-size: 1.2rem; 
    color: var(--cor02); font-family: var(--font-padrao);
    position: relative;
}

.imagem {
    height: 100%; width: 50%;
    position: relative;
    padding-left: 2rem;
}

#fundo {
    background: var(--cor04);
    width: 70%; height: 80%;
}
#imagem {
    background-image: url(https://images.unsplash.com/photo-1608068071962-63140de5de69?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fG11c2ljYXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
    background-position: center center;
    background-size: cover;
    width: 70%; height: 80%;
    position: absolute;
    top: 10%; right: 18%;
    margin-bottom: 3rem;
}

.modelo {
    height: 30%;
    display: flex; align-items: center; justify-content: center;
    gap: 1.5rem;
}

#popular {
    width: 30%; height: 100%; border-radius: 12px;
    border: 4px solid var(--cor02);
    display: flex; align-items: center; justify-content: center;
}

#popular h2 {
    font-family: var(--font-padrao); font-size: 1.8rem; color: var(--cor02);
}

#classico {
    width: 30%; height: 100%; border-radius: 12px;
    border: 4px solid var(--cor02);
    display: flex; align-items: center; justify-content: center;
}
#classico h2 {
    font-family: var(--font-padrao); font-size: 1.8rem; color: var(--cor02);
}

@media screen and (max-width: 970px) {
    .imagem {
        display: none;
    }
    .texto {
        width: 100%;
    }
}
/*imagem conteiner*/

.image-conteiner {
    width: 100vw; height: 50vh;
    overflow: hidden;
    display: flex; justify-content: center; align-items: center;
    background-image: url(https://images.pexels.com/photos/685458/pexels-photo-685458.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center center; background-size: cover;
    box-shadow: inset 1px 1px 14px 7px #0000005e;
}


.content p {
    font-family: var(--font-padrao); font-size: 1.5rem;
    color: var(--cor06); text-align: center;
    padding: 0 3rem;
}

/*Cursos*/

#color-faixa-cursos {
    background: var(--cor04);
}
.cursos {
    width: 100vw; height: 100%;
    background: var(--cor03);
    padding: 2.5rem 0rem 1.5rem 0rem;
    display: flex; flex-direction: column;
}
.cabecalho-curso {
    display: flex; justify-content: space-between; align-items: center;
}
.cabecalho-curso h1 {font-family: var(--font-padrao); color: var(--cor05); font-size: 2.5rem;
padding-left: 3rem;}

#link {
    display: flex; gap: 1rem; padding-right: 3rem;
}

.cabecalho-curso a {
    text-decoration: none;
    color: var(--cor03); background: var(--cor02);
    font-size: 1.5rem; font-family: var(--font-padrao);
    padding: .2rem .6rem; border-radius: 8px;
}

.conteiner-conteudo {
    display: flex; align-items: center; justify-content: center;
    width: 100%;

}

.conteudo-curso {
    padding: 3rem 0 0 0;
    max-width: 1000px;
    margin-top: 2rem;
    display: grid; justify-content: space-around;
    grid-gap: 1.5rem 2rem;
    grid-template-areas: 
    "item item item"
    "item item item"
    ;  
}

.item {
    padding: 1rem;
    height: 200px;
    width: 300px;
    max-width: 300px;
    min-width: 150px;
    grid-area: "item";
    background: var(--cor02);
    display: flex; flex-direction: column;
    align-items: center; border-radius: 5px;
}
.item h2 {
    font-family: var(--font-padrao); color: var(--cor03);
    margin-bottom: 2rem;
}
.item a {
    text-decoration: none; font-family: var(--font-padrao); color: var(--cor02);
    background: var(--cor03); padding: .2rem .6rem; border-radius: 5px;
}
.infor-cursos {
    margin-top: 2rem;
    font-family: var(--font-padrao); color: var(--cor05); font-size: 1.4rem;
    display: flex; justify-content: center; text-align: center; 
}
/*responsividade cursos*/
@media screen and (max-width:1035px) {
    .conteudo-curso {
        grid-template-areas: 
        "item item"
        "item item"
        "item item"
        ; 
    }
}
@media screen and (max-width:690px) {
    .conteudo-curso {
        grid-template-areas: 
        "item"
        "item"
        "item"
        "item"
        "item"
        "item"
        ; 
    }
    #link {padding: 0; margin-top: 1rem;}
    #link a {
        font-size: 1.2rem;
    }
    .cabecalho-curso {flex-direction: column; align-items: center;}
    .cabecalho-curso h1 {font-size: 2rem; padding: 0;}
    .infor-cursos {padding: 0 3rem;}
    .faixa-header {gap: 3rem;} #busca {width: 8rem; height: 25px;}
}

/*feedback-difereciais*/

.feedback-difereciais {
    width: 100vw; height: 70vh;
    position: relative;
}

.feedback-difereciais img {
    position: fixed;
    top: 0; left: 0;
    width: 100%; object-fit: cover;
    z-index: -100; height: 100%;
}

/*diferencial*/

.competencias {
    width: 100%; height: 100%;
    position: relative; background: #96514146;

}
.competencias h1 {
    text-align: center; padding: 1.5rem 0 0 0;
    color: var(--cor02); font-family: var(--font-padrao); font-size: 1.8rem;
}
.competencias-elementos {
    width: 100%; height: 80%;
    position: absolute; bottom: 0;
    display: flex; align-items: center; justify-content: space-evenly;
}

.competencias-elementos i {
    font-size: 4rem; color: var(--cor02); margin-bottom: 1rem;
}
.competencias-elementos p {
    font-family: var(--font-padrao); text-align: center; font-size: 1.1rem; color: var(--cor06);
}

#didatica {
    width: 27%; height: 90%;
    border-radius: 15px;
    display: flex; flex-direction: column; justify-content: center;
    align-items: center;
}

#aprendizado {
    width: 27%; height: 90%;
    border-radius: 15px;
    display: flex; flex-direction: column; justify-content: center;
    align-items: center;
}

#apoio {
    width: 27%; height: 90%;
    border-radius: 15px;
    display: flex; flex-direction: column; justify-content: center;
    align-items: center;
}

/*feedback*/

.feedback {
    width: 100vw; height: 40vh;
    background: var(--cor05);
}
.feedback h1 {
    text-align: center; padding: 1.5rem 0 0 0;
    color: var(--cor04); font-family: var(--font-padrao); font-size: 1.8rem;
}

/*Contato*/

.contato {
    width: 100vw; height: 80vh;
    background: var(--cor03);
    display: flex; justify-content: space-around; flex-direction: row;
    align-items: center; position: relative;
}
#contato-titulo {
    position: absolute; top: 2rem; left: 3rem;
    font-family: var(--font-padrao); font-size: 2.5rem; color: var(--cor05);
}

.cima {
    height: 60%; width: 60%;
    display: flex; flex-direction: column;
}

.conteiner-form {
    width: 100%; height: 100%;
}

.form {
    display: flex; flex-direction: column;
    align-items: flex-start; justify-content: center;
    width: 100%; height: 100%;
    margin-left: 6rem;
}
.form ::placeholder { color: var(--cor02); }

#nome {
    border: 3px solid var(--cor05); 
    border-radius: 5px;
    width: 70%; height: 3rem; padding: .2rem .4rem;
    font-family: Arial, Helvetica, sans-serif; font-size: 1.1rem; margin-bottom: 1.5rem;
    background: none; color: var(--cor02);
}
#nome:focus {
    border: 2px solid var(--cor02);
    outline: 0;
}

#email {
    border: 3px solid var(--cor05);  
    border-radius: 5px;
    width: 70%; height: 3rem; padding: .2rem .4rem;
    font-family: Arial, Helvetica, sans-serif; font-size: 1.1rem; margin-bottom: 1.5rem;
    background: none; color: var(--cor02); 
}
#email:focus {
    border: 2px solid var(--cor02);
    outline: 0;
}

#msg {
    border: 3px solid var(--cor05); 
    border-radius: 5px;
    width: 70%; height: 6rem; padding: .2rem .4rem;
    font-family: Arial, Helvetica, sans-serif; font-size: 1.1rem; margin-bottom: 1.5rem;
    background: none; color: var(--cor02);
}
#msg:focus {
    border: 2px solid var(--cor02);
    outline: 0;
}

#botao {
    border: 0; border-radius: 5px;
    padding: .3rem .8rem; font-weight: bold; cursor: pointer;
    font-family: Arial, Helvetica, sans-serif; font-size: 1.3rem;
    background: var(--cor02); color: var(--cor03); 
}

.baixo {
    width: 40%; height: 60%;
    display: flex; flex-direction: column;
    align-items: center; justify-content: flex-start;
}
.baixo i {
    color: var(--cor05); font-size: 15rem;
}

@media screen and (max-width: 718px) {
    .contato {
        flex-direction: column;
    }
    #nome, #email, #msg {
        width: 100%;
    }
    .form {
        margin: 0; 
    }
    .baixo i {
        display: none;
    }
    .conteiner-form {margin-top: 4.5rem;}
    
    .footer {
        flex-direction: column;
    }
}

.footer {
    width: 100vw; height: 25vh;
    background-color: var(--cor02); color: var(--cor03);
    display: flex; align-items: center; justify-content: space-around;
}

.midias {
    display: flex; 
    gap: 1rem; font-size: 1.5rem;
}
.midias i { cursor: pointer; }

#creditos {
    font-family: var(--font-padrao);
    font-size: 1.2rem;
}